<div class="container-fluid">
  <!-- <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Welcome to HR IPMS!</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>   
  </div> -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">What is IPMS?</h5>
      <p class="card-text">The IPMS (Integrated Physicians Management Services) is a robust suite of applications designed
        and developed by HR Bureau to handle recruitment, assignment evaluation, promotion, discipline, career
        development, and retirement policies and programs for the Field Service and Customer Service
        employees.</p>
      <a class="btn btn-primary" routerLink="/catalog" routerLinkActive="active" role="button">HR Application Catalog
        <i class="fa fa-angle-double-right"></i></a>
    </div>
  </div>

</div>